_ReSharper*
[Oo]bj
[Bb]in
deploy
deploy/*
*.suo
*.pdb
*.user
*.cache
*.vsmdi
*.testsettings
Thumbs.db
Debug
TestResults
error-*.xml
*.sdf

packages/*
!packages/repositories.config
logfile.txt
Settings.txt
ecommerce/Store/App_Data/Settings.txt
nopCommerce_2.60_Source/packages/*
!nopCommerce_2.60_Source/packages/repositories.config
!nopCommerce_2.60_Source/packages/Facebook
!nopCommerce_2.60_Source/packages/GCheckout2.5.0.5a
nopCommerce_2.60_Source/Presentation/Nop.Web/Plugins
Libraries/RavenDB-Build-960
